# Disable directory browsing

Options -Indexes

# Run Php without filename extension
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php

# Deny access to files with extensions .ini, .psd, .log, .sh .sql .env .htaccess

<FilesMatch "\.(ini|psd|log|sh|sql|env|htaccess)$">
    Deny from all
</FilesMatch>