* {
    font-family: Poppins;
}

/* Utils */
.wrapper {
    width: 100%;
}

.background {
    background: linear-gradient(to bottom, #e3edeb, #fff);
    padding-top: 2rem;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/*  */
/* Index */
/*  */

/* Header */
header {
    position: fixed;
    width: 100%;
    z-index: 100;
    transition: .5s;
}

.header-background {
    background-color: rgb(227, 237, 235);
    box-shadow: 0 0 16px rgb(0, 0, 0, 0.2);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

nav > .logo {
    font-size: 2em;
    font-weight: bold;
}

.logo img {
    height: 80px;
}

nav > ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav > ul > li > a {
    color: #000;
    text-decoration: none;
    font-size: 1.25em;
    display: block;
    padding: 1rem 1.5rem;
    margin: 0 .5rem;
}

nav > .highlight > a {
    color: #fff;
    background-color: #53C351;
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: .5rem 2rem;
    border-radius: .5rem;
}

.bars {
    font-size: 1.5em;
    margin-right: .5rem;
}

.mobile-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 0;
    overflow: hidden;
    height: 100%;
    background-color: #1f1f1f;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    transition: .5s;
}

.mobile-overlay > span {
    position: absolute;
    top: 0;
    right: 0;
    color: #FFF;
    display: block;
    padding: 1rem 1.5rem;
    font-size: 2em;
}

.mobile-overlay img {
    height: 100px;
}

.mobile-overlay ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.mobile-overlay ul li a {
    color: #FFF;
    text-align: center;
    display: block;
    padding: 1rem 0;
    font-size: 1.5em;
}

.mobile-overlay .highlight a {
    padding: .75rem 2rem;
    background-color: #53C351;
    border-radius: 1rem;
    color: #FFF;
    font-weight: bold;
    display: block;
}

/* Banner */
.bg-banner {
    width: 100%;
}

.banner {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner > img:nth-child(1) {
    position: absolute;
    z-index: -1;
}

.banner::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 15vh;
    z-index: 3;
    background: linear-gradient(to top, #e3edeb, transparent);
}

.banner-text {
    position: absolute;
    z-index: 2;
    color: #fff;
    bottom: 15%;
    text-align: center;
}

.banner-text > span {
    font-size: 1.25em;
    letter-spacing: 2px;
    font-weight: 500;
}

.banner-text > h1 {
    font-size: 6em;
    font-weight: bold;
}

.banner-text > div > span {
    display: block;
    font-size: 1.25em;
}

/* Intro */
.bg-intro {
    padding: 5% 0;
}

.intro-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.intro-text h2 {
    font-size: 2em;
    font-weight: bold;
}

.intro-text p {
    padding-top: .5rem;
    color: #999;
    letter-spacing: 1.7;
    font-size: 1.1em;
}

.bg-intro img {
    border-radius: 1rem;
    box-shadow: 16px 16px 16px rgb(0, 0, 0, .25);
}

/* Event */
.bg-event {
    padding: 5% 0;
}

.event-title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 100px;
}

.event-title > h2 {
    font-size: 3em;
    font-weight: bold;
}

.event-title > a {
    color: #999;
    font-size: 1.25em;
    text-decoration: none;
    display: block;
    background-color: #53C351;
    color: #fff;
    padding: .5rem 1.5rem;
    border-radius: 1rem;
}

.event-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 100px - 12px);
}

.event-card {
    display: flex;
    /* margin: .75rem 0; */
    background-color: #fafafa;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, .1);
    border-radius: .5rem;
}

.event-card > img {
    border-radius: .5rem;
}

.event-card-text {
    margin: .5rem 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.event-card-text > span {
    display: block;
    color: #999;
}

/* Campaign */
.backdrop {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 75%;
    background: linear-gradient(to top, rgb(0, 0, 0, .75), transparent);
}

.carousel-caption h5 {
    font-size: 3em;
}

/* Feature */
.bg-feature {
    padding: 5% 0;
}

.feature-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.feature-text > span {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

.feature-text > h2 {
    font-size: 4em;
    font-weight: bold;
    color: #53C351;
}

.feature-text > p {
    color: #999;
    line-height: 1.7;
    font-size: 1.25em;
    width: 90%;
}

.feature-text > a > button {
    padding: .5rem 2rem;
    background-color: #53C351;
    color: #fff;
    border-radius: 1rem;
    border: 0;
    font-weight: bold;
    font-size: 1.25em;
    margin-top: .5rem;
    outline: none;
}

.feature .row {
    padding: 3rem 0;
}

/* Suggest */
.bg-suggest {
    padding: 5% 0 1rem;
    background-color: #E4EFED;
    background: linear-gradient(1deg, #E4EFED 95%, transparent 0%);
}

.suggest {
    padding: 1rem 0;
}

.suggest input, .suggest textarea {
    width: 100%;
    margin: .75rem 0;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    font-size: 1em;
    font-family: Poppins;
    border: 0;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, .25);
}

.suggest textarea {
    height: 200px;
}

.suggest button {
    display: block;
    background-color: #53C351;
    border: 0;
    color: #fff;
    outline: none;
    width: 100%;
    padding: 1rem 0;
    font-size: 1em;
    border-radius: 1rem;
    margin: .75rem 0;
    font-weight: bold;
}

/* Footer */
footer {
    padding: 3rem 0;
    background-color: #1f1f1f;
}

.footer-logo {
    display: flex;
    justify-content: center;
    align-content: center;
}

.footer-logo img {
    width: 100%;
}

footer p {
    color: #999;
    margin: 2rem 0;
    line-height: 1.7;
}

footer h3 {
    color: #fff;
    font-size: 1.5em;
}

footer ul {
    margin-top: 1rem;
    padding-left: 1rem;
}

footer ul li{
    padding: .5rem 0;
    color: #999;
}

footer ul li a {
    color: #999;
    text-decoration: none;
    font-size: 1em;
}

.social-media ul {
    list-style: none;
    padding: 0;
}

.social-media ul li a {
    color: #fafafa;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 1em;
}

.social-media ul li a i {
    font-size: 2em;
    margin-right: 1rem;
}

footer hr {
    height: 0;
    border: 1px solid rgb(153, 153, 153, .5);
}

.copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #999;
}

/*  */
/* Kalkulator */
/*  */

.bg-judul {
    padding: 7.5rem 1rem;
    padding-top: 10rem;
}

.bg-judul h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    color: #53C351;
}

.kalkulator-section {
    margin-bottom: 3rem;
}

.kalkulator-section h2 {
    margin-bottom: 1rem;
}

.kalkulator-card {
    padding: .5rem;
}

.kalkulator-card .icon {
    padding: 1rem 2rem;
    background-color: #FFF;
    border-radius: 1rem;
}

.kalkulator-card .icon span {
    display: block;
    font-size: 2em;
    text-align: center;
}

.kalkulator-card .input {
    background-color: #ececec;
    border-radius: .5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 1rem;
}

.kalkulator-card .input input {
    background-color: transparent;
    outline: none;
    border: 0;
    padding: 1rem 0rem 1rem 1rem;
    min-width: 100px;
}

.kalkulator-card .input span {
    display: block;
    padding: 1rem;
    font-weight: bold;
}

/* Hasil Emisi */
.bg-hasilEmisi {
    background: url(../images/hasilEmisi.png);
    background-repeat: no-repeat;
    height: 396px;
    margin-top: 2rem;
    text-align: center;
    color: #FFF;
}

.bg-hasilEmisi span {
    display: block;
    font-size: 2em;
}

.bg-hasilEmisi h2 {
    font-size: 5em;
    font-weight: bold;
}

/* Convert Emisi */
.bg-convertEmisi {
    padding: 2rem 0;
}

.bg-convertEmisi p {
    margin-top: 2rem;
    font-size: 2em;
}

.bg-convertEmisi span {
    font-weight: bold;
    font-size: 3em;
    display: block;
}

.listConvert {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

.listConvert span {
    font-size: 1.25em;
    padding: 1rem 2rem;
    border-radius: 1rem;
    background-color: #ececec;
}

/*  */
/* Event */
/*  */

.bg-eventSearch {
    padding: 7.5rem 0;
    padding-top: 10rem;
    text-align: center;
}

.bg-eventSearch h1 {
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 1rem;
}

.bg-eventSearch .input {
    background-color: #fff;
    box-shadow: 4px 4px 4px rgb(0, 0, 0, 0.25);
    border-radius: 1rem;
    padding: .5rem;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.bg-eventSearch .input input {
    border: 0;
    outline: none;
    padding: .5rem 1.5rem;
    flex-grow: 1;
    font-size: 1.25em;
    min-width: 100px;
}

.bg-eventSearch .input button {
    border: 0;
    padding: .5rem 3rem;
    background-color: #53C351;
    border-radius: 1rem;
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
    cursor: pointer;
}

.eventList-card {
    padding: 1rem 0;
}

.eventList-image {
    width: 100%;
    position: relative;
}

.eventList-image img {
    border-radius: 1rem;
    object-fit: cover;
    height: 200px;
}

.eventList-kategori {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to top, rgb(0, 0, 0), rgb(0, 0, 0, 0));
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    border-radius: 0 0 1rem 1rem;
}

.eventList-kategori span {
    color: #fff;
    font-weight: bold;
    font-size: 1.25em;
    margin-bottom: 1rem;
}

.eventList-text {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.eventList-text h2 {
    font-size: 3em;
    font-weight: bold;
}

.eventList-text p {
    padding: 1rem 0;
    color: #999;
    line-height: 1.7;
}

.eventList-page {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.eventList-page a {
    background-color: #53C351;
    padding: .5rem 3rem;
    font-weight: bold;
    border-radius: 1rem;
    color: #fff;
    margin: 0 1rem;
    font-size: 1.25em;
}

.eventList-page input {
    padding: .5rem 1rem;
    border: 1px solid #53C351;
    outline: none;
    width: auto;
    border-radius: 1rem;
    width: 150px;
    text-align: center;
    font-size: 1.25em;
}

/*  */
/* About */
/*  */

/* About Intro */
.bg-aboutIntro {
    padding: 7.5rem 1rem;
    padding-top: 10rem;
}

.about-judul img {
    width: 300px;
    max-width: 100%;
}

.about-judul h1 {
    font-weight: bold;
    font-size: 5em;
}

.about-judul hr {
    height: 0;
    width: 80%;
    border: 1px solid #53C351;
}

.about-vismis {
    padding: 2rem 0;
}

.about-vismis p {
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 1rem;
    line-height: 1.7;
}

.about-latar {
    text-align: center;
    padding: 5rem 0;
}

.about-latar h2 {
    font-weight: bold;
}

.about-latar p {
    line-height: 1.7;
    width: 80%;
    margin: auto;
    margin-top: 1rem;
    color: #666;
}

/* About Team */
.bg-ourTeam {
    margin-bottom: 3rem;
}

.bg-ourTeam h2 {
    font-size: 4em;
    font-weight: bold;
    color: #53C351;
    text-align: center;
    margin-bottom: 1rem;
}

.team-container {
    padding: 2rem 0;
}

.team-container h3 {
    margin-bottom: 2rem;
    text-align: center;
    font-weight: bold;
    font-size: 3em;
}

.team-container img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: auto;
    box-shadow: 0px 0px 4px rgb(0, 0, 0, 0.25);
}

.team-container span {
    display: block;
    padding: 1rem 0;
    font-size: 1.25em;
    width: 90%;
    text-align: center;
    margin: auto;
}

@media(max-width: 576px) {
    .nav-desk {
        display: none;
    }

    .nav-mobile {
        display: flex;
    }

    .banner-text h1 {
        font-size: 3em;
    }

    .banner-text > span {
        font-size: 1em;
    }

    .banner-text > div {
        font-size: .75em;
    }

    .bg-intro .row {
        flex-direction: column-reverse;
    }

    .bg-intro img {
        margin-bottom: 2rem;
    }

    .event-title {
        height: auto;
        align-items: center;
    }

    .event-title a {
        font-size: 1em;
    }

    .event-card-text h3 {
        font-size: 1.5em;
    }

    .event-card-text span {
        font-size: .75em;
    }

    .event-card {
        margin-bottom: 1rem;
    }

    .bg-event iframe {
        margin-top: 2rem !important;
    }

    .feature .first {
        flex-direction: column-reverse;
    }

    .feature-text span {
        font-size: 1.5em;
    }

    .feature-text h2 {
        font-size: 3em;
    }

    .feature-text p {
        font-size: 1em;
        width: 100%;
    }

    .bg-suggest {
        padding-top: 5rem;
    }

    .suggest img {
        display: none;
    }

    /* Kalkulator */
    .bg-judul {
        padding: 5rem 1rem;
        padding-top: 7.5rem;
    }

    .bg-hasilEmisi span {
        font-size: 1.5em;
    }
    
    .bg-hasilEmisi h2 {
        font-size: 3.5em;
    }

    .bg-convertEmisi p {
        font-size: 1.5em;
    }
    
    .bg-convertEmisi span {
        font-size: 2.5em;
    }

    .listConvert span {
        font-size: 1em;
    }

    /* Event */
    .eventList-text {
        margin-top: 1rem;
    }

    .bg-eventSearch .input {
        width: 100%;
    }

    .bg-eventSearch h1 {
        font-size: 3em;
    }
    
    .bg-eventSearch .input input, .bg-eventSearch .input button, .eventList-page a, .eventList-page input {
        font-size: 1em;
    }

    .eventList-page a {
        padding: 0.5rem 1.5rem;
    }

    .eventList-page input {
        width: 75px;
    }

    .bg-eventSearch .input button {
        padding: 0.5rem 2rem;
    }

    .bg-aboutIntro p {
        width: 100%;
    }

    .bg-aboutIntro h1 {
        font-size: 3em;
    }

    .team-container img {
        height: 150px;
        width: 150px;
    }
}

@media(min-width: 576px) {
    .nav-desk {
        display: none;
    }

    .nav-mobile {
        display: flex;
    }

    .banner-text h1 {
        font-size: 3em;
    }

    .banner-text > span {
        font-size: 1em;
    }

    .banner-text > div {
        font-size: .75em;
    }

    .bg-intro .row {
        flex-direction: column-reverse;
    }

    .bg-intro img {
        margin-bottom: 2rem;
    }

    .event-title {
        height: auto;
        align-items: center;
    }

    .event-title a {
        font-size: 1em;
    }

    .event-card-text h3 {
        font-size: 1.5em;
    }

    .event-card-text span {
        font-size: .75em;
    }

    .event-card {
        margin-bottom: 1rem;
    }

    .bg-event iframe {
        margin-top: 2rem !important;
    }

    .feature .first {
        flex-direction: column-reverse;
    }

    .feature-text span {
        font-size: 1.5em;
    }

    .feature-text h2 {
        font-size: 3em;
    }

    .feature-text p {
        font-size: 1em;
        width: 100%;
    }

    .bg-suggest {
        padding-top: 5rem;
    }

    .suggest img {
        display: none;
    }

    /* Kalkulator */
    .bg-judul {
        padding: 5rem 1rem;
        padding-top: 7.5rem;
    }

    .bg-hasilEmisi span {
        font-size: 1.5em;
    }
    
    .bg-hasilEmisi h2 {
        font-size: 3em;
    }

    .bg-convertEmisi p {
        font-size: 1.5em;
    }
    
    .bg-convertEmisi span {
        font-size: 2.5em;
    }

    .listConvert span {
        font-size: 1em;
    }

    /* Event */
    .eventList-text {
        margin-top: 1rem;
    }

    .bg-eventSearch .input {
        width: 100%;
    }

    .bg-eventSearch h1 {
        font-size: 3em;
    }

    .bg-eventSearch .input input, .bg-eventSearch .input button, .eventList-page a, .eventList-page input {
        font-size: 1em;
    }

    .eventList-page a {
        padding: 0.5rem 1.5rem;
    }

    .eventList-page input {
        width: 75px;
    }

    .bg-eventSearch .input button {
        padding: 0.5rem 3rem;
    }
}

@media(min-width: 768px) {
    .nav-desk {
        display: none;
    }

    .nav-mobile {
        display: flex;
    }

    .banner-text h1 {
        font-size: 6em;
    }

    .banner-text > span {
        font-size: 1.25em;
    }

    .banner-text > div {
        font-size: 1em;
    }

    .bg-intro .row {
        flex-direction: column-reverse;
    }

    .bg-intro img {
        margin-bottom: 2rem;
    }

    .event-title {
        height: auto;
        align-items: center;
    }

    .event-title a {
        font-size: 1em;
    }

    .event-card-text h3 {
        font-size: 1.5em;
    }

    .event-card-text span {
        font-size: .75em;
    }

    .event-card {
        margin-bottom: 1rem;
    }

    .bg-event iframe {
        margin-top: 2rem !important;
    }

    .feature .first {
        flex-direction: row;
    }

    .feature-text span {
        font-size: 1.5em;
    }

    .feature-text h2 {
        font-size: 3em;
    }

    .feature-text p {
        font-size: 1em;
        width: 100%;
    }

    .bg-suggest {
        padding-top: 5rem;
    }

    .suggest img {
        display: none;
    }

    /* Kalkulator */
    .bg-judul {
        padding: 5rem 1rem;
        padding-top: 7.5rem;
    }

    .bg-hasilEmisi span {
        font-size: 2em;
    }
    
    .bg-hasilEmisi h2 {
        font-size: 5em;
    }

    .bg-convertEmisi p {
        font-size: 2em;
    }
    
    .bg-convertEmisi span {
        font-size: 3em;
    }

    .listConvert span {
        font-size: 1.25em;
    }

    /* Event */
    .eventList-text {
        margin-top: 1rem;
    }

    .bg-eventSearch .input {
        width: 100%;
    }

    .bg-eventSearch h1 {
        font-size: 4em;
    }

    .bg-eventSearch .input input, .bg-eventSearch .input button, .eventList-page a, .eventList-page input {
        font-size: 1.25em;
    }

    .eventList-page a {
        padding: 0.5rem 3rem;
    }

    .eventList-page input {
        width: 150px;
    }

    .bg-eventSearch .input button {
        padding: 0.5rem 3rem;
    }
}

@media(min-width: 992px) {
    .nav-desk {
        display: flex;
    }

    .nav-mobile {
        display: none;
    }

    .banner-text h1 {
        font-size: 6em;
    }

    .banner-text > span {
        font-size: 1.25em;
    }

    .banner-text > div {
        font-size: 1em;
    }

    .bg-intro .row {
        flex-direction: row;
    }

    .bg-intro img {
        margin-bottom: 0;
    }

    .event-title {
        height: 100px;
        align-items: center;
    }

    .event-title a {
        font-size: 1.25em;
    }

    .event-card-text h3 {
        font-size: 1.75em;
    }

    .event-card-text span {
        font-size: 1em;
    }

    .event-card {
        margin-bottom: 0;
    }

    .bg-event iframe {
        margin-top: 0;
    }

    .feature .first {
        flex-direction: row;
    }

    .feature-text span {
        font-size: 1.5em;
    }

    .feature-text h2 {
        font-size: 4em;
    }

    .feature-text p {
        font-size: 1.25em;
        width: 90%;
    }

    .bg-suggest {
        padding-top: 5%;
    }

    .suggest img {
        display: block;
    }

    /* Kalkulator */
    .bg-judul {
        padding: 7.5rem 1rem;
        padding-top: 10rem;
    }

    .bg-hasilEmisi span {
        font-size: 2em;
    }
    
    .bg-hasilEmisi h2 {
        font-size: 5em;
    }

    .bg-convertEmisi p {
        font-size: 2em;
    }
    
    .bg-convertEmisi span {
        font-size: 3em;
    }

    .listConvert span {
        font-size: 1.25em;
    }

    /* Event */
    .eventList-text {
        margin-top: 0rem;
    }

    .bg-eventSearch .input {
        width: 90%;
    }

    .bg-eventSearch h1 {
        font-size: 4em;
    }

    .bg-eventSearch .input input, .bg-eventSearch .input button, .eventList-page a, .eventList-page input {
        font-size: 1.25em;
    }

    .eventList-page a {
        padding: 0.5rem 3rem;
    }

    .eventList-page input {
        width: 150px;
    }

    .bg-eventSearch .input button {
        padding: 0.5rem 3rem;
    }
}

@media(min-width: 1200px) {
    .nav-desk {
        display: flex;
    }

    .nav-mobile {
        display: none;
    }

    .banner-text h1 {
        font-size: 6em;
    }

    .banner-text > span {
        font-size: 1.25em;
    }

    .banner-text > div {
        font-size: 1em;
    }

    .bg-intro .row {
        flex-direction: row;
    }

    .bg-intro img {
        margin-bottom: 0;
    }

    .event-title {
        height: 100px;
        align-items: center;
    }

    .event-title a {
        font-size: 1.25em;
    }

    .event-card-text h3 {
        font-size: 1.75em;
    }

    .event-card-text span {
        font-size: 1em;
    }

    .event-card {
        margin-bottom: 0;
    }

    .bg-event iframe {
        margin-top: 0;
    }

    .feature .first {
        flex-direction: row;
    }

    .feature-text span {
        font-size: 1.5em;
    }

    .feature-text h2 {
        font-size: 4em;
    }

    .feature-text p {
        font-size: 1.25em;
        width: 90%;
    }

    .bg-suggest {
        padding-top: 5%;
    }

    .suggest img {
        display: block;
    }

    /* Kalkulator */
    .bg-judul {
        padding: 7.5rem 1rem;
        padding-top: 10rem;
    }

    .bg-hasilEmisi span {
        font-size: 2em;
    }
    
    .bg-hasilEmisi h2 {
        font-size: 5em;
    }

    .bg-convertEmisi p {
        font-size: 2em;
    }
    
    .bg-convertEmisi span {
        font-size: 3em;
    }

    .listConvert span {
        font-size: 1.25em;
    }

    /* Event */
    .eventList-text {
        margin-top: 0rem;
    }

    .bg-eventSearch .input {
        width: 80%;
    }

    .bg-eventSearch h1 {
        font-size: 4em;
    }

    .bg-eventSearch .input input, .bg-eventSearch .input button, .eventList-page a, .eventList-page input {
        font-size: 1.25em;
    }

    .eventList-page a {
        padding: 0.5rem 3rem;
    }

    .eventList-page input {
        width: 150px;
    }

    .bg-eventSearch .input button {
        padding: 0.5rem 3rem;
    }
}