.wrapper {
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

nav > .logo {
    font-size: 2em;
    font-weight: bold;
}

nav > ul {
    display: flex;
    list-style: none;
}

nav > ul > li > a {
    color: #000;
    text-decoration: none;
    font-size: 1em;
    display: block;
    padding: 0rem 2rem;
}