<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Event - Binus Malang Sustainable Campus</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" type="text/css" rel="stylesheet" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap5.min.css" /> -->
    <link rel="stylesheet" href="../assets/css/styleUser.css">
    <script src="https://kit.fontawesome.com/f0f2d9386c.js" crossorigin="anonymous"></script>
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <header>
            <div class="container">
                <nav class="nav-desk">
                    <div class="logo">
                        <img src="../assets/images/LogoSampingHitam.png" alt="Logo Bimasuca">
                    </div>
                    <ul>
                        <li><a href="#">Beranda</a></li>
                        <li><a href="#">Event</a></li>
                        <li><a href="#">Kalkulator</a></li>
                        <li><a href="#">Game</a></li>
                    </ul>
                    <div class="highlight">
                        <a href="#">Tentang Kami</a>
                    </div>
                </nav>
                <nav class="nav-mobile">
                    <div class="logo">
                        <img src="../assets/images/LogoSampingHitam.png" alt="Logo Bimasuca">
                    </div>
                    <div class="bars"><i class="fas fa-bars"></i></div>
                </nav>
            </div>
        </header>
        <div class="mobile-overlay">
            <span class="close">x</span>
            <img src="../assets/images/LogoPutih.png" alt="">
            <ul>
                <li><a href="#">Beranda</a></li>
                <li><a href="#">Event</a></li>
                <li><a href="#">Kalkulator</a></li>
                <li><a href="#">Game</a></li>
            </ul>
            <div class="highlight">
                <a href="#">Tentang Kami</a>
            </div>
        </div>
        <div class="background">
            <section class="bg-eventSearch">
                <div class="container">
                    <h1>Event List</h1>
                    <div class="input">
                        <form action="" class="d-flex justify-content-between w-100">
                            <input type="text" placeholder="Enter Event Name Here ...">
                            <button>Cari</button>
                        </form>
                    </div>
                </div>
            </section>
            <section class="bg-eventList">
                <div class="container">
                    <div class="eventList-container">
                        <div class="eventList-card">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="eventList-image">
                                        <img src="../assets/images/event.png" alt="Event" class="w-100">
                                        <div class="eventList-kategori">
                                            <span>Kategori</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="eventList-text">
                                        <h2>Event Name</h2>
                                        <span>Binus @Malang / 12 Maret 2022</span>
                                        <p>
                                            Bimasuca kami bangun untuk memberikan edukasi kepada masyarakat tentang pentingnya menjaga lingkungan demi kelangsungan hidup manusia Bimasuca kami bangun untuk memberikan edukasi kepada masyarakat tentang pentingnya menjaga lingkungan demi kelangsungan hidup manusia
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="eventList-card">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="eventList-image">
                                        <img src="../assets/images/event.png" alt="Event" class="w-100">
                                        <div class="eventList-kategori">
                                            <span>Kategori</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="eventList-text">
                                        <h2>Event Name</h2>
                                        <span>Binus @Malang / 12 Maret 2022</span>
                                        <p>
                                            Bimasuca kami bangun untuk memberikan edukasi kepada masyarakat tentang pentingnya menjaga lingkungan demi kelangsungan hidup manusia Bimasuca kami bangun untuk memberikan edukasi kepada masyarakat tentang pentingnya menjaga lingkungan demi kelangsungan hidup manusia
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="eventList-card">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="eventList-image">
                                        <img src="../assets/images/event.png" alt="Event" class="w-100">
                                        <div class="eventList-kategori">
                                            <span>Kategori</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="eventList-text">
                                        <h2>Event Name</h2>
                                        <span>Binus @Malang / 12 Maret 2022</span>
                                        <p>
                                            Bimasuca kami bangun untuk memberikan edukasi kepada masyarakat tentang pentingnya menjaga lingkungan demi kelangsungan hidup manusia Bimasuca kami bangun untuk memberikan edukasi kepada masyarakat tentang pentingnya menjaga lingkungan demi kelangsungan hidup manusia
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="eventList-card">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="eventList-image">
                                        <img src="../assets/images/event.png" alt="Event" class="w-100">
                                        <div class="eventList-kategori">
                                            <span>Kategori</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="eventList-text">
                                        <h2>Event Name</h2>
                                        <span>Binus @Malang / 12 Maret 2022</span>
                                        <p>
                                            Bimasuca kami bangun untuk memberikan edukasi kepada masyarakat tentang pentingnya menjaga lingkungan demi kelangsungan hidup manusia Bimasuca kami bangun untuk memberikan edukasi kepada masyarakat tentang pentingnya menjaga lingkungan demi kelangsungan hidup manusia
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="eventList-card">
                            <div class="row">
                                <div class="col-lg-3">
                                    <div class="eventList-image">
                                        <img src="../assets/images/event.png" alt="Event" class="w-100">
                                        <div class="eventList-kategori">
                                            <span>Kategori</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="eventList-text">
                                        <h2>Event Name</h2>
                                        <span>Binus @Malang / 12 Maret 2022</span>
                                        <p>
                                            Bimasuca kami bangun untuk memberikan edukasi kepada masyarakat tentang pentingnya menjaga lingkungan demi kelangsungan hidup manusia Bimasuca kami bangun untuk memberikan edukasi kepada masyarakat tentang pentingnya menjaga lingkungan demi kelangsungan hidup manusia
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="eventList-page">
                        <a href="#">Prev</a>
                        <input type="text" value="1">
                        <a href="">Next</a>
                    </div>
                </div>
            </section>
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="footer-logo">
                            <div class="row">
                                <div class="col-7">
                                    <img src="../assets/images/binusLogo.png" alt="Binus">
                                </div>
                                <div class="col-5">
                                    <img src="../assets/images/LogoPutih.png" alt="Logo">
                                </div>
                            </div>
                        </div>
                        <p>
                            Bimasuca merupakan platform edukasi lingkungan yang dibuat oleh Universitas Bina Nusantara @Malang dengan tujuan untuk meningkatkan kesadaran akan lingkungan yang sehat
                        </p>
                    </div>
                    <div class="col-lg-6 offset-lg-1">
                        <div class="row">
                            <div class="col-md-6">
                                <h3>Related Link</h3>
                                <div class="related-link">
                                    <ul>
                                        <li><a href="#">Campaign</a></li>
                                        <li><a href="#">Event</a></li>
                                        <li><a href="#">Kalkulator Emisi</a></li>
                                        <li><a href="#">Green Maze Game</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3>Social Media</h3>
                                <div class="social-media">
                                    <ul>
                                        <li><a href="#"><i class="fab fa-instagram"></i> <span>@bimasuca</span></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i> <span>@binus_malang</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="copyright">
                    <span>Copyright © 2022 Bina Nusantara University</span>
                    <span><strong>BIMASUCA</strong></span>
                </div>
            </div>
        </footer>
    </div>
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
    <script>
        document.querySelector(".mobile-overlay .close").addEventListener("click", () => {
            document.querySelector(".mobile-overlay").style.width = 0;
        })

        document.querySelector(".bars").addEventListener("click", () => {
            document.querySelector(".mobile-overlay").style.width = "100%";
        })

        window.addEventListener("scroll", () => {
            if(window.scrollY <= 50){
                document.querySelector("header").classList.remove("header-background");
            } else {
                document.querySelector("header").classList.add("header-background");
            }
        })
    </script>
</body>
</html>